<footer class="flex flex-col w-full bottom-0">
        <div class="h-20 bg-gradient-to-t from-slate-900 to-slate-700 text-white
                    text-center pt-4">&copy;Love Nature 2023</div>
      
</footer>